body {
  margin: 0; /* Убрать все дефолтные отступы */
  font-family: "Roboto", sans-serif;
  background-color: #1C1C1C;
  color: #fff;
}

h1 {
  font-size: 58px;
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1140px; /* Максимальная ширина контента на всей странице [правильно было бы прибавить падинг из пункта 22 в обе стороны(15+15) и задать 1170px]  */
  margin: 0 auto; /* Выравнивание всего контента слева и справа, тк по дефу есть маржены справа */
  padding: 0 15px; /* Добавление отступов по сторонам для "красоты" при сжатии страницы, чтоб не упирались в стенки браузерного окна */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation__list {
  display: flex;
  gap: 28px;
}

.header__link {
  font-size: 14px;
  font-weight: 400;
  transition: 0.5s;
}

.header__link:hover {
  color: #F6762C;
}

.header__link--main {
  font-weight: 700;
}

.btn {
  width: 165px;
  height: 50px;
  background-color: #F6762C;
  color:#fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  font-size: 17px;
}

.welcom {
  box-sizing: border-box; /* Взаимодействуте с отступами */
  min-height: 100vh; /* Секцию расстягивает на весь экран */
  margin-top: -100px;
  background-image: url(./images/burger_background.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Расстягивает картинку на весь экран */
  background-position: center;
}

.welcom__information {
  width: 555px;
  /* margin: 0 auto; */
  padding: 220px 0;
}

.welcom__prev {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.weclom__description {
  font-size: 18px;
  margin: 40px 0;
  opacity: 0.7;
}

.foodlist {
  padding: 100px 0;
}

.foodlist__card {
  width: 260px;
  border-radius: 10px;
  overflow: hidden; /* обрезает карточку, чтоб картинка сверху получила закругление */
  background: #312F30;
  text-align: center;
}

.foodlist__img {
  max-width: 100%; /* Ужимаем по размерам карточки[блока] на всю его ширину, т.е. делаем из большой картинки в размер карточки */
  height: 175px; /* В карточках лучше задавать высоту для картинок, чтоб все были в один размер в ряду */
  object-fit: cover; /* Добавляет пропорциональность картинкам в случае ее увелчения из-за масштабирования, обрезает по краям */
}

.foodlist .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; /* переносит на новый ряд картки, если сжимать окно браузера */
}

.foodlist__text-wrapper {
  padding: 30px 20px;
}

.foodlist__card-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}

.foodlist__card-description {
  font-size: 16px;
  opacity: 0.7;
}

.order {
  background: #312F30;
  padding-top: 60px;
  padding-bottom: 60px;
}

.order__img {
  max-width: 470px;
}

.order__subtitle {
  font-size: 44px;
  font-weight: 500;
  margin: 24px 0;
}

.order__description {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 12px;
}

.order__price {
  font-size: 20px;
  font-weight: 500;
  color: #F6762C;
}

.order__price + .order__price {
  margin-left: 3px;
}

.order__price-old {
  font-size: 16px;
  font-weight: 500;
  color:#F6762C;
  opacity: 0.5;
  text-decoration-line: line-through;
}

.order .btn {
  margin-top: 10px;
}

.order__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__information {
  width: 370px;
  padding-right: 90px;
}

.menu {
  padding: 150px 0;
}

.menu .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.menu__card {
  box-sizing: border-box;
  width: 530px;
  min-height: 300px;
  padding: 60px 30px 60px 290px;
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__card:nth-child(even) {
  padding-left: 30px;
  padding-right: 290px;
}

.menu__subtitle {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.menu__description {
  font-size: 16px;
  opacity: 0.7;
  padding-top: 20px;
  padding-bottom: 10px;
}

.menu__price {
  font-size: 16px;
  font-weight: 500;
  color: #F6762C;
}

.menu__price + .menu__price {
  margin-left: 3px;
}

.menu__price-old {
  font-size: 16px;
  font-weight: 500;
  color:#F6762C;
  opacity: 0.5;
  text-decoration-line: line-through;
}

.card-queen {
  background-image: url(./images/mask_1.jpg);
  background-repeat: no-repeat;
}

.card-hut {
  background-image: url(./images/mask_2.jpg);
  background-repeat: no-repeat;
}

.card-king {
  background-image: url(./images/mask_3.jpg);
  background-repeat: no-repeat;
}

.card-papa {
  background-image: url(./images/mask_4.jpg);
  background-repeat: no-repeat;
}

.menu .btn {
  width: 140px;
  height: 40px;
  font-size: 12px;
}